<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Create Exhibition</title>
    <link rel="stylesheet" type="text/css" href="/css/createExhibition.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/exhibition" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/exhibition/favorites" class="nav-link" sec:authorize="isAuthenticated()">Favourites</a></li>
            <li class="nav-item"><a href="/exhibition/profile" class="nav-link" sec:authorize="isAuthenticated()">Account</a></li>
            <li class="nav-item"><a href="/authority" class="nav-link" sec:authorize="!isAuthenticated()">Log In</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link" sec:authorize="isAuthenticated()">Log Out</a></li>

        </ul>
    </header>
</div>



<form th:method="POST" th:action="@{/exhibition/create}" th:object="${exhibition}">
    <div class="wrapper">
        <div class="form-header">Create Exhibition <a href="/exhibition"><i class="fa fa-times close" > close </i></a></div>
        <div class="form-grp">
            <label>Введите название выставки </label>
            <input type="text"  th:field="*{article}" id="fullName"/>
        </div>
        <div class="form-grp">
            <label> Введите краткое описание выставки </label>
            <input  type="text" th:field="*{description}" >
        </div>
        <div class="form-grp">
            <label>Введите адрес выставки </label>
            <input type="text" th:field="*{address}" >
        </div>
        <div class="form-grp">
            <label> Дата проведения выставки</label>
            <input type="date" th:field="*{date}" >
        </div>
        <div class="form-grp">
            <label>Введите полное описание выставки </label>
            <input type="text"  th:field="*{_text}" >
        </div>
        <div class="form-grp">
            <label>Введите стоимость выставки (text)</label>
            <input type="text" th:field="*{_text}" >
        </div>

        <div class="form-grp">
            <input type="submit" value="Create exhibition"/>
        </div>
    </div>
</form>





</body>
</html>